@{
    Layout = "_Layout";
}


<div class="container">

    <div class="row">

        <div class="col-12">

            <h1 class="py-5">PIzzas List</h1>

            @* spinner di caricamento *@
            <div id="loading-spinner" class="row py-5">
                <div class="col-12">
                    <div class="spinner-border text-warning" role="status">
                    </div>
                    <span class="visually-hidden">Sto cercando le pizze...</span>
                </div>
            </div>

            @* container per il caso in cui non ho pizze da mostrare oppure non ne ottengo tramite la query di ricerca *@
            <div id="row-no-articles" class="row d-none">
                <div class="col-12">
                    Nessuna Pizza trovata
                </div>
            </div>

            @* container per il caso in cui abbia pizze da mostrare  *@
            <div id="list-of-pizzas" class="row d-none">
            </div>

        </div>

    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        loadAllPizzas();

        function loadAllPizzas() {
            axios.get('/api/PizzaAPI/GetPizzas').then((res) => {

                // console.log(res);
                console.log(res.data);

                let loadingSpinnerElement = document.getElementById("loading-spinner");
                let divNoPizzas = document.getElementById("row-no-articles");
                let listOfPizzasElement = document.getElementById("list-of-pizzas");

                // caso in cui ricevo una lista vuota
                if (res.data.length == 0) {

                    // rimuovo lo spinner
                    loadingSpinnerElement.classList.add("d-none");
                    divNoPizzas.classList.remove("d-none");
                }
                else {

                    loadingSpinnerElement.classList.add("d-none");
                    listOfPizzasElement.classList.remove("d-none");

                    // svuoto il contenitore in modo da non avere duplicati con le chiamate precedenti
                    listOfPizzasElement.innerHTML = "";

                    res.data.forEach(pizza => {
                        
                        console.log(pizza);

                        listOfPizzasElement.innerHTML += 
                            `
                            <div class="col-12 col-md-4 p-2">
                                <div class="card post h-100">
                                     <img src="${pizza.pathImage}" class="card-img-top" alt="${pizza.name}">
                                     <div class="card-body">
                                          <h5 class="card-title">${pizza.name}</h5>
                                          <p class="card-text">${pizza.description}</p>
                                          <div class="card-text">${pizza.price} $</div>
                                     </div>
                                </div>
                            </div>
                            `
                    });
                }
            })
        }

    </script>
}
